<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="/javascripts/ajax.js"></script>
</head>
<body>
<div id="container">

    <div id="header">
        <span onclick="location.href='/'">Kevinaskin.top</span>
        <a href="/article/piece"> <div class="nav-block">Piece</div></a>
        <a href="/article/blog"> <div class="nav-block">Blog</div></a>
        <a href="/article/photo"><div class="nav-block">Photo</div></a>
        <a href="/about"> <div class="nav-block">About</div></a>

        <div  id="log-out">
            <div class="nav-login" id="regist" style="display:<%= registdisplay %>"><%= regist %></div>
            <div class="nav-login" id="login" style="display:<%= logindisplay %>"><%= login %></div>
            <div class="nav-login" id="username-block" style="display:<%= usernamedisplay %>"><%= login %>
                <div id="log-out-button" style="display: <%= logoutdisplay %>">LOG OUT</div>
            </div>

        </div>

    </div>
    <div id="left-body">

    </div>
    <div id="mid-body">
    </div>
    <div id="right-body"></div>
</div>

<!--Login的弹出框-->
<div id="loginalert" class="alertbox">
    <h1 id="exit">_____________________close</h1>
    <div class="inputbox">
        <span>Loginname&nbsp;</span>
        <input type="text" placeholder="" id="login-input">
    </div>
    <div class="inputbox">
        <span>Password&nbsp;&nbsp;&nbsp;</span>
        <input type="password" placeholder="" id="psd-input">
    </div>
    <div id="login-button">Send</div>
</div>
<!--ALERT_WORNING-->
<div id="alertworning" class="alertbox">
    <h1 id="exit-worning">_____________________close</h1>
    <p id="worning-msg"></p>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
